body {
    margin: 0;
    box-sizing: border-box;
    font-size: 24px;
}

.texto {
    padding: 20px;
    margin: 40px;
}

.paragrafo-padrao {
    background-color: #f5f5f5;
}

.paragrafo-destacado {
    background-color: #f0cce2;
}